@charset "UTF-8";

.g_map {
position: relative;
padding-top: 75%;
height: 0;
overflow: hidden;
}
.g_map iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}



a:hover img{
	opacity: 0.8 ;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.slider_hight {
  height: 798px;
}

.retina {
}

.top_margin5 {
  margin-top: 5px;
}

.header_tel {
  float: right;
  margin-top: 8px;
  margin-right: 5px;
}

.header_mail {
  float: right;
  margin-top: 8px;
}

.main_title {
  text-align: center;
  line-height: 1.6em;
  font-weight: normal;
}

.back_home {
  background-image: url(../images/img_roujinhome@2x.jpg);
  height: 460px;
  background-position: center 0%;
  background-size: cover;
}
.back_dayservice {
  background-image: url(../images/img_dayservice@2x.jpg);
  height: 460px;
  background-position: center 0%;
  background-size: cover;
}

.back_pink {
  background-color: #E699BB;
  height: 460px;
}

.circle {
  width: 30%;
}

.sub_title {
  color: #FFFFFF;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
}

.btn_waku1 {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

.btn_waku1:hover {
  background-color: hsla(0,0%,100%,0.30);
}

.link_text1 {
  color: hsla(0,0%,100%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 23px;
  text-align: center;
}

.btn_padding1 {
  padding: 20px 5px;
}

.sub_title2 {
  color: hsla(0,0%,100%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 2px hsla(0,0%,0%,1.00);
}

.point_title {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: bold;
}

.point_read {
  color: hsla(0,0%,20%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}

.section_title1 {
  text-align: center;
  line-height: 3em;
  border-top: 1px solid hsla(0,0%,0%,1.00);
  border-bottom: 1px solid hsla(0,0%,0%,1.00);
}

#section-contact {
  background: url("../images/bg/contact_back.jpg") fixed 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.footer_read {
  line-height: 1.5em;
}

#home_top {
  background-position: 50% 50%;
  background-image: url(../home/images/home_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#day_service_top {
  background-position: 50% 50%;
  background-image: url(../day_service/images/day_service_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.home_hight {
  height: 500px;
}

.midashi_bar1 {
  border-left: 5px solid hsla(334,61%,75%,1.00);
  border-bottom: 1px solid hsla(0,0%,60%,1.00);
}

.home_midashi1 {
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 23px;
  line-height: 2em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home_point_read {
  color: hsla(0,0%,15%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.sayuu_padding_zero {
  padding-left: 0px;
  padding-right: 0px;
}

.midashi_bar2 {
  background-color: hsla(334,61%,75%,1.00);
  color: hsla(0,0%,100%,1.00);
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 21px;
  line-height: 2em;
  border-radius: 5px;
}

.right_margin10 {
  margin-right: 10px;
}

.fee_title {
  color: hsla(0,0%,20%,1.00);
  text-align: center;
  font-weight: normal;
}

.fee_table_width {
  width: 20%;
}

.fee_table_width2 {
  width: 50%;
}

#umetsu_top {
  background-position: 50% 50%;
  background-image: url(../branch/images/umetsu_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.h1_text {
  font-size: 13px;
  color: hsla(0,0%,25%,1.00);
  line-height: 1.5em;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 5px;
}

#section_greeting {
  background-position: 50% 50%;
  background-image: url(../branch/images/umetsu_greeting@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.bg-usuguro {
  background-color: hsla(0,0%,0%,0.40);
}

.greeting_text {
  color: hsla(0,0%,100%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

.manager {
  color: hsla(0,0%,100%,1.00);
  text-align: center;
}

.manager {
  font-weight: bold;
}

.riyou_fee {
  color: hsla(0,0%,100%,1.00);
  background-color: hsla(334,61%,75%,1.00);
  font-weight: bold;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.fee_remarks {
  font-size: 12px;
  line-height: 1.5em;
}

.map_height {
  height: 280px;
}

.company_hight {
  height: 100%;
}

.welcome-wrapper {
  padding-bottom: 20px;
}

.company_table_width1 {
  width: 20%;
}

.company_table_text {
}

#company_top {
  background-position: 80% 50%;
  background-image: url(../company/images/company_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-origin: content-box;
}

#company_greeting {
  background-position: 50% 50%;
  background-image: url(../company/images/company_greeting@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.company_greeting_text {
  color: hsla(0,0%,0%,0.80);
  text-align: left;
  font-size: 16px;
}

.company_greeting_title {
  color: hsla(0,0%,0%,0.80);
  font-size: 23px;
  text-align: left;
}

.bg-white {
  background-color: hsla(0,0%,100%,0.60);
}

#faq_top {
  background-position: 80% 50%;
  background-image: url(../faq/imeges/faq_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.ico_tel {
  background-color: hsla(334,61%,75%,1.00);
  color: hsla(0,0%,100%,1.00);
  font-size: 19px;
  width: 45px;
  height: 34px;
  text-align: center;
  margin-top: 8px;
  border-radius: 5px;
  border-style: none;
  float: right;
  margin-right: 5px;
}

.otoiawase {
  font-size: 31px;
  color: hsla(0,0%,100%,1.00);
}

#compliance_top {
  background-position: 80% 50%;
  background-image: url(../compliance/images/compliance_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#policy_top {
  background-position: 80% 50%;
  background-image: url(../privacy_policy/images/policy_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#contact_top {
  background-position: 80% 50%;
  background-image: url(../contact/images/contact_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#branch_top {
  background-position: 80% 50%;
  background-image: url(../branch/images/branch_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#second_top {
  background-position: 80% 50%;
  background-image: url(../second_life/images/second_top@2x.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-origin: content-box;
}

.people_title {
  font-size: 18px;
  line-height: 1.3em;
}

.people_read {
  font-size: 13px;
  line-height: 1.5em;
  color: hsla(0,0%,20%,1.00);
}

.slider_hight_sm {
  height: 667px;
  /* [disabled]margin-top: -50px; */
}

#branch_top_sm {
  background-image: url(../branch/images/branch_top_sm@2x.jpg);
  /* [disabled]background-attachment: fixed; */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#umetsu_top_sm {
  background-image: url(../branch/images/umetsu_top_sm@2x.jpg);
  /* [disabled]background-attachment: fixed; */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#company_top_sm {
  background-image: url(../company/images/company_top_sm@2x.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  /* [disabled]background-origin: content-box; */
  background-repeat: no-repeat;
  /* [disabled]background-position: 26% 0%; */
  background-attachment: scroll;
}

#compliance_top_sm {
  background-image: url(../compliance/images/compliance_top_sm@2x.jpg);
  /* [disabled]background-attachment: fixed; */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact_top_sm {
  background-image: url(../contact/images/contact_top_sm@2x.jpg);
  /* [disabled]background-attachment: fixed; */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#day_service_top_sm {
  background-image: url(../day_service/images/day_service_top_sm@2x.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#faq_top_sm {
  background-image: url(../faq/imeges/faq_top_sm@2x.jpg);
  /* [disabled]background-attachment: fixed; */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#home_top_sm {
  background-image: url(../home/images/home_top_sm@2x.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 81% 0%;
  /* [disabled]margin-top: -50px; */
}

#policy_top_sm {
  background-image: url(../privacy_policy/images/policy_top_sm@2x.jpg);
  /* [disabled]background-attachment: fixed; */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#second_top_sm {
  background-image: url(../second_life/images/second_top_sm@2x.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  /* [disabled]background-origin: content-box; */
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.second_hight {
  height: 500px;
}

.contact-mail-name {
  color: hsla(0,0%,0%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 22px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.contact-mail-required {
  font-size: 15px;
  padding-left: 8px;
  color: hsla(359,100%,50%,1.00);
}

.form_waku {
  width: 50%;
}

.text {
  font-size: 18px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-mail-contents {
  margin-bottom: 15px;
}



@media (max-width:320px){

.fee_table_width {
  width: 20%;
}

.navbar-brand {
  width: 60%;
}

.company_table_width1 {
  width: 30%;
}

.company_table_text {
  font-size: 10px;
}

.h1_text {
  font-size: 11px;
  color: hsla(0,0%,25%,1.00);
  line-height: 1.5em;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
}

.otoiawase {
  font-size: 19px;
  color: hsla(0,0%,100%,1.00);
}

.main_title {
  text-align: center;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 16px;
}

.home_midashi1 {
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 17px;
  line-height: 2em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.slider-title2 {
  font-size: 16px;
  line-height: 2em;
  color: #fff;
}

.sub_title {
  color: #FFFFFF;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

.link_text1 {
  color: hsla(0,0%,100%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 17px;
  text-align: center;
}

.section_title1 {
  text-align: center;
  line-height: 2em;
  border-top: 1px solid hsla(0,0%,0%,1.00);
  border-bottom: 1px solid hsla(0,0%,0%,1.00);
  font-size: 15px;
}

.midashi_bar2 {
  background-color: hsla(334,61%,75%,1.00);
  color: hsla(0,0%,100%,1.00);
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 2em;
  border-radius: 5px;
}

.company_greeting_title {
  color: hsla(0,0%,0%,0.80);
  font-size: 20px;
  text-align: left;
}

.company_greeting_text {
  color: hsla(0,0%,0%,0.80);
  text-align: left;
  font-size: 13px;
}

#company_greeting {
  background-position: 58% 50%;
  background-image: url(../company/images/company_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.btn {
  padding-left: auto;
  text-align: center;
  padding-right: auto;
}

.bn_non {
  display: none;
}

.contact-mail-submit.btn.btn-info.active.text-center {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

#section-header {
  background: #fff;
  /* [disabled]height: 50px; */
  position: static;
}

.slider_hight_sm {
  height: 667px;
  /* [disabled]margin-top: -50px; */
  width: 320px;
}


}

@media (min-width:321px) and (max-width:375px){

.company_table_text {
  font-size: 11px;
}

.company_table_width1 {
  width: 30%;
}

.h1_text {
  font-size: 11px;
  color: hsla(0,0%,25%,1.00);
  line-height: 1.5em;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
}

.otoiawase {
  font-size: 22px;
  color: hsla(0,0%,100%,1.00);
}

.main_title {
  text-align: center;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 18px;
}

.home_midashi1 {
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 19px;
  line-height: 2em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.slider-title2 {
  font-size: 16px;
  line-height: 2em;
  color: #fff;
}

.sub_title {
  color: #FFFFFF;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

.link_text1 {
  color: hsla(0,0%,100%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 19px;
  text-align: center;
}

.section_title1 {
  text-align: center;
  line-height: 2em;
  border-top: 1px solid hsla(0,0%,0%,1.00);
  border-bottom: 1px solid hsla(0,0%,0%,1.00);
  font-size: 18px;
}

.midashi_bar2 {
  background-color: hsla(334,61%,75%,1.00);
  color: hsla(0,0%,100%,1.00);
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 17px;
  line-height: 2em;
  border-radius: 5px;
}

.company_greeting_title {
  color: hsla(0,0%,0%,0.80);
  font-size: 18px;
  text-align: left;
  line-height: 1.4em;
}

.company_greeting_text {
  color: hsla(0,0%,0%,0.80);
  text-align: left;
  font-size: 14px;
}

#company_greeting {
  background-position: 58% 50%;
  background-image: url(../company/images/company_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.btn {
  padding-left: auto;
  text-align: center;
  padding-right: auto;
}

.btn.btn-block.btn-link.btn_waku1.link_text1.btn_padding1 {
  padding-left: 18px;
}

.bn_non {
  display: none;
}

.contact-mail-submit.btn.btn-info.active.text-center {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

#section-header {
  background: #fff;
  /* [disabled]height: 50px; */
  /* [disabled]padding-bottom: 50px; */
  /* [disabled]margin-top: -50px; */
  /* [disabled]padding-top: 50px; */
  z-index: 999;
}

.slider_hight_sm {
  height: 667px;
  /* [disabled]margin-top: -50px; */
  width: 375px;
}
}

@media (min-width:376px) and (max-width:414px){

.company_table_text {
  font-size: 13px;
}

.company_table_width1 {
  width: 30%;
}

.h1_text {
  font-size: 12px;
  color: hsla(0,0%,25%,1.00);
  line-height: 1.5em;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0px;
}

.otoiawase {
  font-size: 25px;
  color: hsla(0,0%,100%,1.00);
}

.main_title {
  text-align: center;
  line-height: 1.6em;
  font-weight: normal;
  font-size: 20px;
}

.home_midashi1 {
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 21px;
  line-height: 2em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.slider-title2 {
  font-size: 19px;
  line-height: 2em;
  color: #fff;
}

.sub_title {
  color: #FFFFFF;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

.link_text1 {
  color: hsla(0,0%,100%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 22px;
  text-align: center;
}

.section_title1 {
  text-align: center;
  line-height: 2em;
  border-top: 1px solid hsla(0,0%,0%,1.00);
  border-bottom: 1px solid hsla(0,0%,0%,1.00);
  font-size: 19px;
}

.midashi_bar2 {
  background-color: hsla(334,61%,75%,1.00);
  color: hsla(0,0%,100%,1.00);
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 18px;
  line-height: 2em;
  border-radius: 5px;
}

.company_greeting_title {
  color: hsla(0,0%,0%,0.80);
  font-size: 20px;
  text-align: left;
  line-height: 1.4em;
}

.company_greeting_text {
  color: hsla(0,0%,0%,0.80);
  text-align: left;
  font-size: 14px;
}

#company_greeting {
  background-position: 58% 50%;
  background-image: url(../company/images/company_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.btn {
  text-align: center;
}

.btn.btn-block.btn-link.btn_waku1.link_text1.btn_padding1 {
  padding-left: 18px;
}

.bn_non {
  display: none;
}

.contact-mail-submit.btn.btn-info.active.text-center {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

#section-header {
  background: #fff;
  position: static;
}

.slider_hight_sm {
  height: 667px;
  /* [disabled]margin-top: -50px; */
  width: 414px;
}
}

@media (min-width:415px) and (max-width:736px){

.navbar-brand {
  padding-right: 15px;
  padding-left: 10px;
  margin-left: 0px;
  width: 30%;
}

.bn_non {
  display: none;
}

.navbar-toggle {
  background-color: #E297B6;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

#branch_top {
  background-image: url(../branch/images/branch_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#umetsu_top {
  background-position: 50% 50%;
  background-image: url(../branch/images/umetsu_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#section_greeting {
  background-position: 50% 50%;
  background-image: url(../branch/images/umetsu_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#company_top {
  background-position: 80% 50%;
  background-image: url(../company/images/company_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
  background-origin: content-box;
}

#company_greeting {
  background-position: 50% 50%;
  background-image: url(../company/images/company_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#compliance_top {
  background-position: 80% 50%;
  background-image: url(../compliance/images/compliance_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#contact_top {
  background-position: 100% 50%;
  background-image: url(../contact/images/contact_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#day_service_top {
  background-position: 83% 50%;
  background-image: url(../day_service/images/day_service_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#faq_top {
  background-position: 80% 50%;
  background-image: url(../faq/imeges/faq_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#policy_top {
  background-position: 53% 50%;
  background-image: url(../privacy_policy/images/policy_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#second_top {
  background-position: 80% 50%;
  background-image: url(../second_life/images/second_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
  background-origin: content-box;
}

.home_hight {
  height: 550px;
}

.second_hight {
  height: 550px;
}

#home_top {
  background-position: 50% 50%;
  background-image: url(../home/images/home_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.navbar-nav li .active a {
  border-bottom: 1px solid hsla(0,0%,84%,1.00);
  z-index: 1;
  background: hsla(0,0%,95%,1.00);
}

#section-header {
  background: #fff;
  height: 55px;
  margin-top: -5px;
  padding-top: 8px;
}
}

@media (min-width:737px) and (max-width:768px){

.bn_non {
  display: none;
}

.navbar-nav {
  height: 60px;
}

#branch_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../branch/images/branch_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#umetsu_top {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../branch/images/umetsu_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#section_greeting {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../branch/images/umetsu_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#company_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../company/images/company_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
  background-origin: content-box;
}

#company_greeting {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../company/images/company_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#compliance_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../compliance/images/compliance_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#contact_top {
  background-position: 100% 50%;
  background-image: url(../contact/images/contact_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#day_service_top {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../day_service/images/day_service_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.midashi_bar2 {
  background-color: hsla(334,61%,75%,1.00);
  color: hsla(0,0%,100%,1.00);
  padding-left: 10px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 17px;
  line-height: 2em;
  border-radius: 5px;
}

.home_point_read {
  color: hsla(0,0%,15%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}

#faq_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../faq/imeges/faq_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#home_top {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../home/images/home_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.link_text1 {
  color: hsla(0,0%,100%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  text-align: center;
}

.point_title {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  font-weight: bold;
}
.service-box2  p {
  position: relative;
  color: #323232;
  font-size: 12px;
}

.section_title1 {
  text-align: center;
  line-height: 3em;
  border-top: 1px solid hsla(0,0%,0%,1.00);
  border-bottom: 1px solid hsla(0,0%,0%,1.00);
  font-size: 19px;
}

#policy_top {
  background-position: 55% 50%;
  background-image: url(../privacy_policy/images/policy_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#second_top {
  background-position: 0% 50%;
  background-image: url(../second_life/images/second_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
  /* [disabled]background-origin: content-box; */
}

.btn.btn-block.btn-warning.text-center.btn-default.top_margin10.btn_waku1 {
  padding-left: 0px;
}

.h4_footer_nairan {
  font-size: 11px;
  padding-left: 2px;
}
}

@media (min-width:769px) and (max-width:812px){
}

@media (min-width:813px) and (max-width:1024px){

.navbar-brand {
  float: left;
  padding-top: 18px;
  padding-bottom: 10px;
  /* [disabled]height: 40px; */
  /* [disabled]font-size: 18px; */
  /* [disabled]line-height: 20px; */
  width: 150px;
}

li a {
}

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  line-height: 27px;
  padding-right: 15px;
  padding-left: 15px;
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 1px;
  background: transparent;
}

li a {
}

#contact_top {
  background-image: url(../contact/images/contact_top@2x.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  /* [disabled]background-repeat: no-repeat; */
  background-attachment: scroll;
  background-position: 100% 0%;
}

#home_top {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../home/images/home_top@2x.jpg);
  background-attachment: scroll;
  /* [disabled]-webkit-background-size: cover; */
  background-size: cover;
}

#day_service_top {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../day_service/images/day_service_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#branch_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../branch/images/branch_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#umetsu_top {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../branch/images/umetsu_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#section_greeting {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../branch/images/umetsu_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#company_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../company/images/company_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
  background-origin: content-box;
}

#company_greeting {
  /* [disabled]background-position: 50% 50%; */
  background-image: url(../company/images/company_greeting@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#policy_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../privacy_policy/images/policy_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#compliance_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../compliance/images/compliance_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#faq_top {
  /* [disabled]background-position: 80% 50%; */
  background-image: url(../faq/imeges/faq_top@2x.jpg);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.link_text1 {
  color: hsla(0,0%,100%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 19px;
  text-align: center;
}

.point_title {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  font-weight: bold;
}

.btn.btn-block.btn-warning.text-center.btn-default.top_margin10.btn_waku1 {
  padding-left: 30px;
}

.footer-link li a {
  font-size: 12px;
}
}

@media (min-width:1025px){
}
.top_margin10 {
  margin-top: 10px;
}
.top_margin20 {
  margin-top: 20px;
}
.top_margin30 {
  margin-top: 30px;
}
.top_margin40 {
  margin-top: 40px;
}
.top_margin50 {
  margin-top: 50px;
}

.top_padding5 {
  padding-top: 5px;
}
.top_padding10 {
  padding-top: 10px;
}
.top_padding20 {
  padding-top: 20px;
}
.top_padding30 {
  padding-top: 30px;
}
.top_padding40 {
  padding-top: 40px;
}
.top_padding50 {
  padding-top: 50px;
}

.bottom_margin5 {
  margin-bottom: 5px;
}
.bottom_margin10 {
  margin-bottom: 10px;
}
.bottom_margin20 {
  margin-bottom: 20px;
}
.bottom_margin30 {
  margin-bottom: 30px;
}
.bottom_margin40 {
  margin-bottom: 40px;
}
.bottom_margin50 {
  margin-bottom: 50px;
}

.bottom_padding5 {
  padding-bottom: 5px;
}
.bottom_padding10 {
  padding-bottom: 10px;
}
.bottom_padding20 {
  padding-bottom: 20px;
}
.bottom_padding30 {
  padding-bottom: 30px;
}
.bottom_padding40 {
  padding-bottom: 40px;
}
.bottom_padding50 {
  padding-bottom: 50px;
}


.row-0{ margin-left:0px;  margin-right:0px}
.row-0 >div{ padding-right:0px;  padding-left:0px}
.row-10{ margin-left:-5px;  margin-right:-5px}
.row-10 >div{ padding-right:5px;  padding-left:5px}
.row-20{ margin-left:-10px;  margin-right:-10px}
.row-20 >div{ padding-right:10px;  padding-left:10px}
.row-30{ margin-left:-15px;  margin-right:-15px}
.row-30 >div{ padding-right:15px;  padding-left:15px}
.row-40{ margin-left:-20px;  margin-right:-20px}
.row-40 >div{ padding-right:20px;  padding-left:20px}
.row-50{ margin-left:-25px;  margin-right:-25px}
.row-50 >div{ padding-right:25px;  padding-left:25px}

@media (max-width:414px){
.sm_non {
  display: none;
}

.btn {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.fadeInLeft {
  -webkit-animation-name: none;
  animation-name: none;
}
}

@media (min-width:415px){
.pc_non {
  display: none;
}

.text {
  font-size: 18px;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
}

@media (max-width:640px){

}

@media (min-width:737px){

.ico_tel_non {
  display: none;
}
}

@media (min-width:1025px) and (max-width:1199px){
.navbar-nav li a  {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  line-height: 27px;
  padding-right: 15px;
  padding-left: 12px;
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 1px;
  background: transparent;
}

.container {
  width: 100%;
}
}

@media (min-width:769px) and (max-width:991px){

.bn_non {
  display: none;
}

.nairan_link_text {
  font-size: 10px;
}
}

@media (max-width:736px){

.sm_header {
  height: 60px;
  width: 100%;
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 2px #777;
  box-shadow: 0px 0px 2px #777;
}
}
