/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.dropdown i{
		/*display: none;*/
	}



}


/* Medium Devices, Desktops */
@media (min-width : 992px) {


.about-box i {
    margin: 20px 28px 70px -60px;
}

figure.effect-zoe figcaption {
    padding: 30px 20px;
}

.team-desc-top h3,.team-desc  h3{
	font-size: 26px;
}
.team-desc {
    padding: 55px 35px;
    color: #FFF;
}

.team-desc p{
	margin: 20px 0px;
}

/*footer
========================================*/
.footer-about {
  padding: 30px 0px;
}


}

/* Small Devices, Tablets */
@media (min-width : 767px) and (max-width: 991px) {
.navbar-brand {
  width: 80%;
  padding-top: 20px;
}
.navbar-nav li a {
    padding: 35px 5px;
}
.navbar-nav {
  /* [disabled]margin-top: -80px; */
  float: left;
}

 .navbar-main {
    background: rgba(255,255,255,.7)!important;
}

.section-heading h2 {
    width: 60%;
    margin: 30px auto;
}

.navbar-nav li a {
  padding: 20px 10px 10px;
}

.welcome-inner{
	margin-bottom: 40px;
}
.navbar-nav .dropdown-menu {
    left: -105px;
}

/* 	about 
====================================*/
.about-inner{
	margin-bottom: 30px;
}
.about-box i {
    margin: 20px 30px 68px 0px;

}
/*service
==========================*/
.service-box{
	margin-bottom: 20px;
}
.service-box h4{
	font-size: 16px;
}
#service-carousel .carousel-control.right {
    right: 36%;
}

#service-carousel .carousel-control.left {
    left: 42%;
}

/*counter
==========================================*/

.counter-box {
    margin-bottom: 30px;
}


/*portfolio
==============================================*/
.portfolio-filter {
    width: 82%;
}
#portfolio-carousel .carousel-control.right{
    right: 40%;
}
#portfolio-carousel .carousel-control.left{
    left: 39%;
}

/*Client======================*/
#client-carousel .carousel-control.right {
    right: 38%;
}

/*=======BLOG =============*/
.blog-inner{
    margin-bottom: 20px;
}

/*===============TEam===================*/
.team-img img{
    height: 315px;
    width: 100%;
}
.team-img.top img{
    height: 355px;
    width: 100%;
}


.info-box p{
    padding-left: 0px;
}

.info-box p i{
    display: block;
    position: static;
    margin-bottom: 20px;
}

/*footer
========================================*/
.footer-inner {
  padding: 20px 30px;
}

.footer-link li a{}
.footer-link li a:hover{
    padding-left: 30px;
}



.footer-btm p {
    margin-bottom: 25px;
}
.footer-inner {
  /* [disabled]border-bottom-color: rgb(67, 67, 67); */
  /* [disabled]border-bottom-style: solid; */
  /* [disabled]border-bottom-width: 1px; */
  border-right: 0px;
}

.menu-social-profile-links li{
    margin-bottom: 10px;
}
.footer-inner.location li h5 {
    color: #FFF;
    font-weight: 600;
    line-height: 30px;
}

}


/* Extra Small Devices, Phones */ 
@media (min-width:478px) and (max-width:640px){

.navbar-brand {
  width: 50%;
}

.navbar-toggle {
  background-color: #E297B6;
  /* [disabled]margin-top: 27px; */
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-main {
    background: rgba(255,255,255,.9);
}

.navbar-nav li a{
    border-bottom: 1px solid#ccc;
    padding: 21px 20px 10px;
}
.carousel-caption .btn-3e {
    padding: 7px 56px 9px 35px;
    overflow: hidden;
    margin-top: 8px;
}

.btn-3::before {
    line-height: 36px;
}
.section-heading {
    width: 100%;
    margin: 0px auto 45px;
}

.section-heading h2 {
    width: 49%;
}

#slider-carousel .carousel-caption.left {
	top: 15%;
	width: 90%;
}
.carousel-caption h2 {
    text-transform: uppercase;
    font-size: 32px;
    margin: 20px 0px;
    color: #FFF;
}
#slider-carousel .carousel-indicators {
    height: 20px;
}
#slider-carousel .carousel-caption {
    right: 40px;
    text-align: right;
    width: 78%;
    top: 15%;
    padding-top: 0px;
}
/* slider index 3================*/

.carousel-caption3 .btn-3e {
    padding: 7px 56px 9px 35px;
    overflow: hidden;
    margin-top: 8px;
}

.btn-3::before {
    line-height: 36px;
}

.carousel-caption3 h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0px;
    color: #FFF;
}
#slider-carousel3 .carousel-caption {
    right: 40px;
    text-align: right;
    width: 78%;
    top: 15%;
    padding-top: 0px;
    padding-bottom: 20px;
}
.overlay3 {
    position: relative;
    height: 450px;
}
.overlay3 img{
    height: 100%;
}

#slider-carousel3 .carousel-indicators {
    bottom: 0px;
    left: 41%;
    width: 75%;
    height: 30px;
}

#slider-carousel3 .carousel-caption3{
    top: 18%;
}


/*=====================*/
.welcome-img{
	margin-bottom: 10px;
}

.about-inner {
    padding: 0px 42px;
    margin-bottom: 30px;
}
.about-box i {
    font-size: 40px;
    color: #4668FF;
    float: left;
    margin: 20px 41px 19px -4px;
}

#intro-wrap .service-box2 {
    margin-bottom: 40px;
}

.blog-inner {
    margin-bottom: 20px;
}
/*contact
================================*/
.newsletter input[type="text"] {
    margin-bottom: 20px;
}

/*Footer =======================*/
.footer-btm {
    text-align: center;
    float: none;
}
.footer-link li a:hover{
    padding-left: 30px;
}


}



/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {

    
.f-left p {
    margin: 13px 0px 11px 24px;
}

.f-right {
    float: left;
    margin-left: 26px;
    margin-top: 10px;
}

.socials a {
    color: #999;
    border-top: 1px solid rgb(239, 239, 239);
}

.navbar-brand {
  width: 70%;
  padding-left: 10px;
}

.navbar-toggle {
  background-color: #E699BB;
  /* [disabled]margin-top: 27px; */
}

.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-main {
  background: rgba(255,255,255,.9);
  z-index: 1000;
}

.navbar-nav li a{
  border-bottom: 1px solid#ccc;
  padding: 10px 20px;
}
.navbar-nav{
    margin: 0px;
}
.navbar{
    padding-left: 0px;
}




.section-heading {
    width: 100%;
    margin: 20px auto 35px;
}
.section-heading h2 {
    width: 50%;
    margin: 20px auto;
    line-height: 40px;
}



/* carousel slider
============================================*/
.btn-3::before {
    line-height: 34px;
}
.carousel-caption .btn-3e {
    padding: 6px 56px 6px 15px;
    margin-top: 3px;
}

#slider-carousel .carousel-caption.left {
	top: 15%;
	width: 100%;
}

.carousel-caption h4 {
    font-size: 12px;
}
.carousel-caption h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0px;
    color: #FFF;
}

#slider-carousel .carousel-caption {
    right: 40px;
    text-align: right;
    width: 82%;
	padding-top: 0px;
	top: 9%;
}

#slider-carousel .carousel-indicators {
    height: 13px;
}

.carousel-indicators li {
    width: 26px !important;
    height: 8px !important;
}
.welcome-inner,.welcome-img{
	margin-bottom: 20px;
}
/* multi slider index-3==========*/

#slider-carousel3 .carousel-caption3{
    top: 10%;
}
.btn-3::before {
    line-height: 34px;
}
.carousel-caption3 .btn-3e {
    padding: 6px 56px 6px 15px;
    margin-top: 3px;
}


.carousel-caption3 h4 {
    font-size: 12px;
}
.carousel-caption3 h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 27px 0px;
    color: #FFF;
}

#slider-carousel3 .carousel-caption3 {
    right: 40px;
    text-align: right;
    width: 82%;
    padding-top: 0px;
    top: 9%;
}

#slider-carousel3 .carousel-indicators {
    bottom: 0px;
    left: 41%;
    width: 75%;
    height: 30px;
}

.carousel-indicators li {
    width: 26px !important;
    height: 8px !important;
}
.welcome-inner,.welcome-img{
    margin-bottom: 20px;
}
.overlay3 {
    position: relative;
    height:285px;
}
.overlay3 img{
    height: 100%;
}


/* about 
====================================*/
.about-box {
    margin: 50px 0px;
}

.about-box i {
    font-size: 40px;
    color: #4668FF;
    float: none;
    margin: 20px 0px 20px 0px;
	
}

.service-inner {
    margin-bottom: 45px;
}

.service-box h4 {
    margin: 25px 0px;
}

#service-carousel .carousel-control.right {
    right: -14%;
}

#service-carousel .carousel-control.left {
    left: 83%;
}

#intro-wrap .service-box2 {
    margin-bottom: 40px;
}

#home-portfolio .carousel-control.left {
    left: 35%;
}
#home-portfolio .carousel-control.right {
    right:32%;
}

/*portfolio
=====================================*/
.portfolio-filter li a{
	line-height: 22px;
}
.portfolio-filter li {
    margin: 0px 0px 13px 0px;
    padding: 0px 0px 15px;
}
#portfolio-carousel .carousel-control.right, #home-portfolio .carousel-control.right {
    right: 30%;
}


/* team
===============================*/

.team-desc p,.team-desc-top p{
	margin: 15px 0px;
}


/* counter
==================================*/

.counter-box {
    margin-bottom: 30px;
}

.counter-inner {
    background: #4668FF none repeat scroll 0% 0%;
    padding: 30px 0px ;

}

/*contact
================================*/
.newsletter input[type="text"] {
    margin-bottom: 20px;
}

/* blog
========================================*/
.blog-desc {
    margin-bottom: 20px;
}

.blog-link a {
    line-height: 24px;
}

.footer-about {
    padding: 65px 10px;
}

.footer-inner {
    padding: 20px 10px;
}

.footer-btm {
    text-align: center;
    float: none;
}
.footer-btm p {
    margin-bottom: 25px;
}
.footer-inner {
  border-bottom: 1px solid rgba(255,255,255,1.00);
  border-right: 0px;
}
.footer-inner.location li h5 {
    line-height: 28px;
}


}
